// Since MagicMirror doesn't care about our styles, it's up to us to keep track
// of conflicts between modules styles, we should always define an enclosing
// class for our styles, our handy gulpfile.js forwards the module name which
// MagicMirror automatically applies to the root element, so we can use that

.#{$name} {
    // All our scssy stuff goes here

    // Styles
    color: white;
    opacity: 1;

    // Variables
    $primary: #ff6600;

    // Mixins
    @mixin truncate($truncation-boundary) {
        max-width: $truncation-boundary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Also imports
    @import "partial";
}
